body {
    overflow: hidden;
    margin: 0;
    font-family: "Inter", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    display: none;
    }

.well {
    position: relative;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

#loginbtns {
    display: flex;
    /* space between the buttons */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#loginbtns button {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background: transparent;
    /* space between the buttons */
    margin: 0.2rem;
}

#loginbtns #signupbtn {
    background: transparent;
    border: 2px solid #000;
    color: #000;
    transition: color 0.5s, background 0.5s;
    cursor: pointer;

}

#loginbtns #signupbtn:hover {
    background: #000;
    color: #fff;
}

#loginbtns #loginbtn {
    background: transparent;
    color: #000;
    border: none;
    cursor: pointer;
}

.panel {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 1em;
    box-sizing: border-box;
    color: #000;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel:nth-child(1) {
    background: #fff;
}

.panel:nth-child(1) h1 {
    font-weight: 800!important;
    font-size: 56px!important;
    letter-spacing: -2.5px!important;
}

.panel:nth-child(1) h1 a {
    /* Cleanest gradient from #BB6DED to #54D7EC */
    background: linear-gradient(45deg, #BB6DED 0%, #54D7EC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;

}

.panel:nth-child(1) p {
    font-weight: 700;
    color: #9A9FA8;
    font-size: 1.2rem;
    /* move up the text a bit */
    margin-top: -2rem;
}

.panel:nth-child(1) button {
    font-weight: 700;
    font-size: inherit;
    color: white;
    background: linear-gradient(45deg, #BB6DED 0%, #54D7EC 100%);
    box-shadow: 0 10px 20px -10px #9D8EEE;
    border: none;
    padding: 12px 20px;
    border-radius: 999px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: min(700px, 100%);
    height: auto;
    max-width: 1144px;
    margin: -5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.panel:nth-child(1) p text {
    color: #282A30;
}

.panel:nth-child(2) {
    background: #000;
}

.panel:nth-child(2) h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
}

.panel:nth-child(2) h2 text {
    font-weight: 900;
    background: linear-gradient(45deg, #768FF0 0%, #F33A71 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.panel:nth-child(3) {
    background: #131415;
}

.panel:nth-child(3) h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
}

.panel:nth-child(3) h2 text {
    font-weight: 900;
    background: linear-gradient(45deg, #768FF0 0%, #F33A71 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.panel:nth-child(4) {
    background: #fff;
}

.panel:nth-child(4) h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 1.5rem;
}

#svgimg {
    /* place to the right side of the text */
    position: absolute;
    top: 80px;
    width: 500px;
    height: 400px;
    /* make it so that the text doesn't overlap the image */
    height: 400px;
    z-index: 1;
    /* put the image in a box so that the text doesnt go under it */
    box-sizing: border-box;
}

.panel:nth-child(4) h2 text {
    font-weight: 900;
    background: linear-gradient(45deg, #768FF0 0%, #F33A71 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.panel:nth-child(5) {
    background: #131415;
}

.panel:nth-child(5) h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
}

.panel:nth-child(5) h2 text {
    font-weight: 900;
    background: linear-gradient(45deg, #768FF0 0%, #F33A71 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.top {
    font-size: 80%;
    color: hsla(0, 0%, 100%, .25);
    position: relative;
    top: -.2em;
    cursor: pointer;
}

/* responsive*/

@media screen and (max-width: 600px) {
    .panel {
        height: 100vh;
        padding: 1em;
        box-sizing: border-box;
        color: #fff;
        cursor: default;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .panel:nth-child(1) {
        background: #131415;
    }

    .panel:nth-child(1) h1 {
        font-weight: 800!important;
        font-size: 56px!important;
        letter-spacing: -2.5px!important;
    }

    .panel:nth-child(1) h1 a {
        /* Cleanest gradient from #BB6DED to #54D7EC */
        background: linear-gradient(45deg, #BB6DED 0%, #54D7EC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -o-background-clip: text;
        -o-text-fill-color: transparent;
    }

    .panel:nth-child(1) p {
        font-weight: 700;
        color: #9A9FA8;
        font-size: 1rem;
        /* move up the text a bit */
        margin-top: -1.5rem;
    }

    .panel:nth-child(1) button {
        font-weight: 800;
        color: white;
        background: linear-gradient(135deg, rgb(203, 94, 238) 0%, rgb(75, 225, 236) 100%);
        border: none;
        border-radius: 50px;
        padding: 12px 20px;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .panel:nth-child(1) p text {
        color: #fff;
    }

    .panel:nth-child(2) {
        background: #000;
    }

    .panel:nth-child(2) h2 {
        font-weight: 800!important;
        font-size: 56px!important;
        letter-spacing: -2.5px!important;
    }

    .panel:nth-child(2) h2 text {
        font-weight: 900;
        background: linear-gradient(45deg, #768FF0 0%, #F33A71 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -o-background-clip: text;
        -o-text-fill-color: transparent;
    }

    .panel:nth-child(2) p {
        font-weight: 700;
        color: #9A9FA8;
        font-size: 1rem;
        margin-top: -1.5rem;
    }

    .panel:nth-child(2) footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: #000;
        color: #fff;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    


    
}
    
